body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px; /* Adjust based on layer-panel width */
    width: calc(100% - 250px); /* Adjust based on layer-panel width */
}

#layer-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; /* Fixed width for the panel */
    background-color: #f8f8f8;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1;
    overflow-y: auto;
    font-family: sans-serif;
    padding: 10px;
}



#layer-panel #layer-content {
    color: #555;
    font-size: 14px;
}

#layer-panel #layer-content h4 {
    color: #333;
    text-align: center;
    padding: 20px;
}



#legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
    overflow-y: auto;
    font-family: sans-serif;
    font-size: 12px;
    width: 200px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item.active {
    background-color: #f0f0f0;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border: 1px solid #ccc;
}