body {
    margin: 0;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#layer-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#layer-panel h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.layer-item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.layer-item:last-child {
    border-bottom: none;
}

.layer-item:hover {
    background-color: #f0f0f0;
}

.sub-layers {
    display: none;
    /* Hidden by default */
    padding-left: 15px;
    border-left: 2px solid #ccc;
    margin-top: 5px;
}

.sub-layer-item {
    font-size: 0.9em;
    color: #555;
}

#legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 90vh;
    overflow-y: auto;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border: 1px solid #ccc;
}