body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

main {
    flex: 1 0 auto;
    display: flex;
}

#app {
    flex-grow: 1;
    display: flex;
    position: relative;
}

#map-container {
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
}

/* Panels are now inside the Materialize sidenav */
.panel {
    padding: 20px;
}

#info-panel {
    display: none;
}