body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    display: flex;
    position: relative;
    height: 100vh;
}

#map-container {
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    top: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
    max-height: 90vh;
    overflow-y: auto;
}

#filter-panel {
    left: 20px;
}

#info-panel {
    right: 20px;
}